:root {
  --black: #0b132b;
  --darkblue: #1c2541;
  --grey: #3a506b;
  --aqua: #5bc0be;
  --aqua-neon: #6fffe9;
  --red: #f45b69
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--black);
  color: var(--aqua);
  font-family: 'Montserrat', sans-serif;
}

.app-container {
  margin-top: 60px;
}

.chart-box text {
  fill: white;
}

.google-visualization-tooltip {
  color: black;
  text-align: left;
  width: 110px;
  padding: 5px !important;
}

a {
  color: var(--aqua-neon);
  font-family: 'Montserrat', sans-serif;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

label {
  color: white;
}

.main-image {
  margin-top: 50px;
  max-height: 400px;
  width: 100%
}

h3 h1 {
  font-family: 'Roboto Slab', serif;
}

.navbar {
  background-color: var(--black);
  font-family: 'Roboto Slab', serif;
}

.homeline {
  margin: 40px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.homelink {
  margin-bottom: 30px;
  background-color: var(--darkblue);
  font-size: 1.2em;
  text-align: center;
  transition: all .5s linear;
  &:hover {
    color: var(--aqua-neon);
    background-color: var(--grey);
    border: 1px solid var(--aqua-neon);
    border-radius: 10px;
  }
}

.form-container {
  background-color: var(--darkblue);
  padding-top: 70px;
  padding-bottom: 40px;
  form {
    width: 50%;
    margin: 0 auto;
  }
}

.button {
  background-color: var(--black);
  border: none;
}

.preview-container {
  color: white;
  font-size: 1.5rem;
  width: 50%;
  min-width: 410px;
  padding: 1em 0;
  border: 2px solid var(--grey);
  border-radius: 10px;
  background-color: var(--darkblue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  .play {
    display: flex;
    align-items: center;
  }
  .melody-title {
    margin-left: 10px;
    display: inline;
  }
  .button {
    margin-top: 20px;
  }
  .chart-container > div {
    margin: 15px auto;
  }
}

.play-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  margin: 30px auto;
  width: 50%;
  min-width: 410px;
  padding: 1em 0;
  border: 2px solid var(--grey);
  border-radius: 10px;
  background-color: var(--darkblue);
  .chart-container > div {
    margin: 15px auto;
  }
  a {
    color: white;
  }
  .play {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    .melody-title {
      margin-left: 10px;
    }
    .play-icon {
      color: var(--aqua-neon);
      font-size: 3rem;
      margin: 10px;
      transition: all .5s linear;
      &:hover {
        color: var(--red);
      }
    }
  }
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  .melody-title {
    margin-left: 10px;
  }
}

.far {
  color: var(--aqua-neon);
  font-size: 3rem;
  margin: 10px;
  transition: all .5s linear;
  &:hover {
    color: var(--red);
  }
}

.show-page {
  margin-top: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--darkblue);
  text-align: center;
  button {
    margin: 10px 10px;
  }
  a {
    margin: 20px;
  }
  .chart-box{
    margin: 15px auto;
    min-width: 380px;
  }
  .play-container {
    background-color: var(--black)
  }
  .show-info {
    color: white;
    margin-top: 40px;
  }
  .show-title {
    color: var(--aqua-neon);
    margin: 20px;
    h5 {
      color: white;
    }
    a {
      margin: 0px;
      color: white;
    }
  }
}

.save {
  background-color: var(--grey);
}

.user-head{
  position: absolute;
  background-color: var(--black);
  width: 250px;
  min-height: 100%;
  left: 0;
  margin-bottom: 0;
  div {
    text-align: center;
    color: white;
    margin: 30px;
    width: 100px;
    text-overflow: wrap;
  }
}
.user-img {
  margin: 30px;
  border-radius: 20px;
  max-height: 100px;
  max-width: 200px;;
}
.user-name{
  text-align: center;
  width: 200px;
}

.user-show {
  margin-top: 60px;
  height: 100%;
}
.user-tile {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--darkblue);
  .melody-tile {
    border: 1px solid var(--grey);
    background-color: var(--black);
    border-radius: 10px;
    color: white;
    width: 40%;
    heigth: 100px;
    padding: 30px;
    margin: 20px;
    a {
      color: white;
    }
  }
}

.red {
  color: var(--red);
}

.sort-by {
  width: 20%;
}

.melody-card {
  background-color: var(--black);
  color: white;
  margin: 20px;
}

.user-container {
  margin-top: 80px;
  background-color: var(--darkblue);
}

.user-tile {
  padding: 20px;
  background-color: var(--black);
  position: fixed;
}


.melody-tile {
  margin-top: 30px;
  margin-left: 25%;
}

.devise {
  width: 30%;
  top: 40px;
  right: 10px;
  position: fixed;
  z-index: 1100;
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    li {
      align-items: center;
    }
  }
}

@media (max-width: 577px) {
  nav.navbar {
    z-index: 1170;
  }
  .user-tile {
    position: relative;
  }
  .melody-tile {
    margin: 0;
  }
  .devise {
    position: fixed;
    top: 60px;
    width: 100%;
    height: 20px;
    background-color: var(--black);
    ul {
      background-color: var(--black);
      width: 110%;
      padding-right: 30px;
    }
    li {
      margin-right: 20px;
      padding: 20px;
      display: inline;
    }
  }
}

.feed {
  margin-top: 120px;
  background-color: var(--darkblue)
}
.feed-tile {
  color: white;
  background-color: var(--black);
  margin: 20px;
  a {
    color: white;
  }
}

.feed-info {
  display: flex;
  flex-direction: row;
  .feed-like {
    margin-left: auto;
    display: inline;
  }
  .fas {
    margin-right: 10px;
  }
}

.modal-content {
  background-color: var(--darkblue);
  color: white;
  .close {
    color: white;
  }
}
