:root {
  --black: #0b132b;
  --darkblue: #1c2541;
  --grey: #3a506b;
  --aqua: #5bc0be;
  --aqua-neon: #6fffe9;
  --red: #f45b69
}

body {
  background-color: var(--black);
  color: var(--aqua);
  font-family: 'Montserrat', sans-serif;
}

a {
  color: var(--aqua-neon);
  font-family: 'Montserrat', sans-serif;
}

.main-image {
  max-height: 400px;
  width: 100%
}

h1 a  {
  font-family: 'Roboto Slab', serif;
}
.navbar {
  background-color: var(--black);
}

.homeline {
  margin: 40px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.homelink {
  padding: 20px;
  margin: 30px;
  font-size: 1.2em;
  text-align: center;
  transition: all .5s linear;
  &:hover {
    color: var(--aqua-neon);
    background-color: var(--grey);
    border: 1px solid var(--aqua-neon);
    border-radius: 10px;
  }
}

.quote {
  color: var(--grey);
  position: absolute;
  left: 7em;
  top: 9em;
}

.quote2 {
  color: var(--grey);
  position: absolute;
  right: 7em;
  bottom: 20em;
}

.form-container {
  background-color: var(--grey);
  padding-top: 10px;
  padding-bottom: 50px;
  .form {
    font-size: 0.9rem;
    border: none;
    background-color: var(--grey);
    width: 50%;
    margin: 0 auto;
    color: white;
    label {
      font-size: .9rem;
      color: white;
    }
    .help-text {
      color: white;
    }
  }
}

.button {
  background-color: var(--darkblue);
}

.play-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  margin: 30px auto;
  width: 50%;
  min-width: 410px;
  padding: 1em 0;
  border: 2px solid var(--grey);
  border-radius: 10px;
  background-color: var(--darkblue);
  .chart-container > div {
    margin: 15px auto;
  }
  .play {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    .melody-title {
      margin-left: 10px;
    }
    .far {
      color: var(--aqua-neon);
      font-size: 3rem;
      margin: 10px;
      transition: all .5s linear;
      &:hover {
        color: var(--red);
      }
    }
  }
}
